#local files
.env
.local
.tmpdir
.vscode

# virtual environment
venv/



# cache
*cache*

# generated input/output files
data/*/
output/


# cache
*cache*

# generated input/output files
data/*/
output/
.gitignore
requirements.txt